ITP
anaconda3

.tiny_care.sh
.gitconfig
.DS_Store
.CFUserTextEncoding
.Trash/
.bash_history
.bash_sessions/
.cfg/
.dropbox/
.viminfo
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
ARIntroCamp/
Creative Cloud Files/
Projects/
Rprojects/
VirtualBoxVMs/
ethicalHacking/
great_stuff.txt
nltk_data/
personal_website/
radnetsnotes/
sandbox/
virtualenv_tutorial/
